// Bootstrap
@import "vendor/bootstrap-4.1.3/scss/bootstrap.scss";

@font-face {
  font-family: 'Mulish';
  src: url('fonts/mulish.ttf');
}
body {
  font-family: 'Mulish', sans-serif;
}
strong {
  font-family: 'Mulish', sans-serif;
  font-weight: bold;
}
